@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faebe3;
  font-family: "Satoshi", sans-serif;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0px 15px 0px 15px;
}
